@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Permanent+Marker&display=swap");
.inner-sec-two {
  position: relative;
}
.bg-container {
  width: 100%;
  filter: brightness(30%);
}
.bg-container img {
  width: 100%;
}
.invitation-data {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 13% 12% 11%;
  text-align: center;
  color: #ffffff;
}
.invite-name {
  font-family: "permanent marker", serif;
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
  background: -webkit-linear-gradient(#bd9204 50%, #fafafa);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.invite-p {
  font-family: "Caveat", serif;
  font-size: 23px;
  font-weight: 700;
  font-style: italic;
  margin-top: 10px;
}
.date-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.date-holder p {
  font-family: "Caveat", serif;
  font-style: italic;
  font-size: 22px;
  font-weight: 600;
}
.date-holder p:nth-last-of-type(1) {
  font-weight: 700;
  font-size: 24px;
  background: -webkit-linear-gradient(#bd9204 50%, #fafafa);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carousel-container {
  margin-top: -4px;
  border: 1px solid #bd9204;
  border-left: none;
  border-right: none;
}
.each-name > img {
  width: 200px;
  height: 300px;
}
.sepstyle {
  background: -webkit-linear-gradient(#bd9204 50%, #fff);
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "permanent marker", serif;
}
.wed-name {
  background: -webkit-linear-gradient(#fff 50%, #fff);
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "permanent marker", serif;
  padding: 0 10px;
}
.name-container {
  padding: 20px 16px;
  position: relative;
}
.pad-tb {
  padding: 20px 0px;
}
.name-container::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  filter: brightness(50%);
  background-image: url(../assets/name-bg2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  z-index: -1;
}
.each-name img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.each-name {
  padding-top: 30px;
  gap: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.each-name p {
  font-family: "Caveat", serif;
  font-size: 23px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  color: #fff;
}
.ind-img {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #bd9204;
  height: 280px;
  max-width: 180px;
  min-width: 180px;
}
.carousel-container .item {
  height: 253px;
  overflow: hidden;
}
.carousel-container .item img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.name-container {
  border-bottom: 1px solid #bd9204;
}
.function-holder {
  position: relative;
}
.function-holder::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(../assets/name-bg2.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  z-index: -1;
  filter: brightness(40%);
}
.underline {
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  background: -webkit-linear-gradient(#071b37 60%, #071b37);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "permanent marker", serif;
}

.event-one {
  padding: 0 16px;
  position: relative;
}
.event-des {
  padding: 20px;
  text-align: center;
  border: 1px solid #bd9204;
  border-radius: 5px;
  position: relative;
}
.border-img {
  position: absolute;
  right: 5px;
  top: -65px;
  width: 100px;
  z-index: 9999;
  transform: rotate(247deg);
}
.event-head {
  font-size: 24px;
  padding-top: 10px;
  font-weight: 400;
  background: -webkit-linear-gradient(#bd9204 50%, #bd9204);
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "permanent marker", serif;
}
.event-date {
  font-family: "Caveat", serif;
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  margin-top: 12px;
  text-align: center;
  color: #fff;
}
.event-date span {
  font-family: "Caveat", serif;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  margin-top: 12px;
  text-align: center;
  color: #071b37;
}
.event-location {
  background-color: #bd9204;
  padding: 13px;
  display: block;
  border-radius: 5px;
  margin-top: 30px;
}
.event-title {
  margin-top: 60px !important;
  text-align: left !important;
  padding: 0 16px 10px;
}
.note-body {
  font-size: 16px !important;
}
.inner-sec-five {
  position: relative;
}
.inner-sec-five::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-image: url(../assets/thank-min.jpg);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  filter: brightness(40%);
}
.thank {
  color: #bd9204 !important;
  margin-top: 0;
  padding: 100px 0;
  font-size: 30px !important;
}
.audio-body {
  position: fixed;
  bottom: 40px;
  right: 18px;
  background-color: #bd9204;
  padding: 10px;
  border-radius: 50%;
  z-index: 99999;
}
.audio-button img {
  width: 25px;
  height: 25px;
}
.audio-body.active img:nth-of-type(1),
.audio-body img:nth-of-type(2) {
  display: none;
}
.audio-body.active img:nth-of-type(2),
.audio-body img:nth-of-type(1) {
  display: block;
}
.inner-invite{
  padding: 60px 16px;
  position: relative;
  border-bottom: 1px solid #bd9204;
}
.inner-invite::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(../assets/final-bg-min.jpg);
  background-position: center;
  z-index: -1;
  filter: brightness(40%);
  background-size: cover;
  background-repeat: no-repeat;
}
.inner-invite p{
  color: #fff !important;
}