@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Permanent+Marker&display=swap");
.inner-sec-two {
  position: relative;
}
.bg-container {
  width: 100%;
  filter: brightness(30%);
}
.bg-container img {
  width: 100%;
}
.invitation-data {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 13% 12% 11%;
  text-align: center;
  color: #ffffff;
}
.invite-name {
  font-family: "permanent marker", serif;
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
  background: -webkit-linear-gradient(#bd9204 50%, #fafafa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.invite-p {
  font-family: "Caveat", serif;
  font-size: 23px;
  font-weight: 700;
  font-style: italic;
  margin-top: 10px;
}
.date-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.date-holder p {
  font-family: "Caveat", serif;
  font-style: italic;
  font-size: 22px;
  font-weight: 600;
}
.date-holder p:nth-last-of-type(1) {
  font-weight: 700;
  font-size: 24px;
  background: -webkit-linear-gradient(#bd9204 50%, #fafafa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carousel-container {
  margin-top: -5px;
}
.each-name > img {
  width: 200px;
  height: 300px;
}
.sepstyle {
  background: -webkit-linear-gradient(#bd9204 50%, #fff);
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.name-container{
    padding: 20px 16px;
   position: relative;
}
.name-container::before{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    filter: brightness(50%);
    background-image: url(../assets/name-bg2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    z-index: -1;
}
.each-name img{
    width: 200px;
    object-fit: contain;
}
.each-name{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.each-name p{
    font-family: "Caveat", serif;
    font-size: 23px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    color: #fff;
}
.ind-img{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #bd9204;
    height: 300px;
}